{% extends "_base.html" %}

{% block content %}
    <h1>Contact Us</h1>
    <h2>Hello Dears</h2>
        <ul class="admin-list">
            {% comment %} <h4>{{ contact_info }}</h4>             {% endcomment %}
            {% comment %} <li>{{ email }}</li> {% endcomment %}
        </ul>

    <h2>Contact Us</h2>
    <div>
        {{ contact_us.contact_us|safe }}  <!-- نمایش متن با حفظ فرمت HTML -->
    </div>
    <h3>Email: </h3>
    <div>
       <h1> {{ contact_us.email }} </h1>
    </div>
    <h3>Phone Number: </h3>
    <div>
       <h1> {{ contact_us.phone_number }} </h1>
    </div>
{% endblock content %}