{% load static %}

<div class="sidebar">

    <h3 class="sidebar-title">Search</h3>
    <div class="sidebar-item search-form">
      <form method="get" action="{% url 'search' %}">
        {{ search_form.as_p }}
        <button type="submit"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End sidebar search formn-->

    <h3 class="sidebar-title">Categories</h3>
    <div class="sidebar-item categories">
      <ul>
        {% comment %} {% if categories_posts %}
          {% for post in categories_posts %}
            <li><a href="#">{{ post.title }} <span></span></a></li>
          {% endfor %}
        {% else %}
          No categories are exist
        {% endif %} {% endcomment %}

        {% if count_categories_posts %}
          {% for post in count_categories_posts %}
            <li><a href="#">{{ post.title }} <span>( {{ post.post_count }} )</span></a></li>
          {% endfor %}
        {% else %}
          No categories are exist
        {% endif %}
      </ul>
    </div><!-- End sidebar categories-->

    <h3 class="sidebar-title">Recent Posts</h3>
    
        {% if recent_posts %}
            <div class="sidebar-item recent-posts">
                {% for post in recent_posts %}
                    <div class="post-item clearfix">
                        <img src="{{ post.photo.url }}" alt="">
                        <h4><a href="{% url "post_detail" post.pk %}">{{ post.title }}</a></h4>
                        <time datetime="2020-01-01">{{ post.date }}</time>
                    </div>      
                {% endfor %} 
            </div><!-- End sidebar recent posts-->
      {% else %}
        <p>No blog post is available.</p>           
      {% endif %}

    <h3 class="sidebar-title">Tags</h3>
    <div class="sidebar-item tags">
      <ul>
        {% if  posts_by_tag  %}
          {% for tag in posts_by_tag %}
            <li><a href="#">{{ tag.name }}</a></li>
            {% endfor %}
        {% else %}
        <p>No Tag exist</p>
        {% endif %}
      </ul>
    </div><!-- End sidebar tags-->

  </div><!-- End sidebar -->